.checkout-item-container {

  display: flex;
  flex-direction: row;


  .checkout-item {
    display: flex;
    align-items: center;
    width: 23%;
    padding: 5px;

    img {
      width: 90%;
    }
  }

  .remove {
    display: flex;
    justify-content: center;
    width: 8%;
    cursor: pointer;
  }



  .arrow {
    cursor: pointer;
    margin: 0 7px;
  }
}
